version: '3.8'

services:
  api :
   container_name: fitness-tracker
   build:
     context: ./api
     dockerfile: Dockerfile.prod
   env_file:
     - api/.env
   ports:
     - 8080:8080
   
  frontend:
    container_name: fitness-tracker-frontend
    build:
      context: ./app
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    depends_on:
      - api
    environment:
      - NODE_ENV=production
      
  db:
    image: postgres:latest
    env_file:
      - api/.env.postgres
    ports:
      - "15432:5432"
    volumes:
      - postgres-db:/var/lib/postgresql/data

volumes:
  postgres-db:
